html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #pink {
    background: pink;
  }
  
  #red {
    background: red;
  }
  #blue {
    background: blue;
  }
  #purple {
    background: purple;
  }

  #ran
  {
    border-radius: 50%;
    text-align: center;
    padding: 10px;
  }

  #white {
    width: 200px;
    height: 20px;
    border: solid black 2px;
    display: inline-block;
    text-align: center;
    border-radius: 20%;
  }